/* You can add global styles to this file, and also import other style files */
body {
  background-color: #121212; /* un gris oscuro */
  color: #eee; /* texto claro para contraste */
  margin: 0;
  font-family: Arial, sans-serif;
}
